<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comeon.backend.meetingmember.infrastructure.MeetingMemberMapper">
    <resultMap id="MemberSimpleMap" type="com.comeon.backend.meetingmember.query.dto.MemberSimple">
        <id column="user_id" property="userId"/>
        <result column="member_id" property="memberId"/>
        <result column="member_role" property="memberRole"/>
    </resultMap>

    <select id="selectMemberSimpleByMeetingIdAndUserId" resultMap="MemberSimpleMap">
        select mm.user_id as user_id,
               mm.meeting_member_id as member_id,
               mm.role as member_role
        from meeting_member mm
            left join users u on u.user_id = mm.user_id
        where mm.meeting_id = #{meetingId} and mm.user_id = #{userId}
    </select>


    <resultMap id="MemberDetailsMap" type="com.comeon.backend.meetingmember.query.dto.MemberDetails">
        <id column="members_member_id" property="memberId"/>
        <id column="members_user_id" property="userId"/>
        <id column="members_nickname" property="nickname"/>
        <id column="members_profile_image_url" property="profileImageUrl"/>
        <id column="members_member_role" property="memberRole"/>
    </resultMap>

    <select id="selectMemberDetailsList" resultMap="MemberDetailsMap">
        select mm.meeting_member_id as members_member_id,
               u.user_id            as members_user_id,
               u.nickname           as members_nickname,
               u.profile_image_url  as members_profile_image_url,
               mm.role              as members_member_role
        from meeting_member mm
                 left join users u on mm.user_id = u.user_id
        where mm.meeting_id = #{meetingId}
        order by u.nickname
    </select>

    <select id="selectMemberDetails" resultMap="MemberDetailsMap">
        select mm.meeting_member_id as members_member_id,
               u.user_id            as members_user_id,
               u.nickname           as members_nickname,
               u.profile_image_url  as members_profile_image_url,
               mm.role              as members_member_role
        from meeting_member mm
                 left join users u on mm.user_id = u.user_id
        where mm.meeting_id = #{meetingId} and mm.user_id = #{userId}
    </select>
</mapper>
