<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingEntryCodeDao">
    <resultMap id="entryCodeDetailsResult" type="com.comeon.backend.meeting.query.dao.result.FindEntryCodeDetailsResult">
        <result column="meeting_id" property="meetingId"/>
        <result column="code" property="entryCode"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="findEntryCodeDetailsByMeetingId" parameterType="com.comeon.backend.meeting.query.dao.param.FindEntryCodeDetailsParam" resultMap="entryCodeDetailsResult">
        select m.meeting_id, mec.code, date_format(mec.last_modified_date, '%Y-%m-%d %H:%i:%S') as 'last_modified_date', mm.user_id
        from meeting m
                 left join meeting_entry_code mec on m.meeting_id = mec.meeting_id
                 left join meeting_member mm on m.meeting_id = mm.meeting_id and mm.user_id = #{userId}
        where m.meeting_id = #{meetingId};
    </select>
</mapper>
