<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingDao">
    <resultMap id="MeetingSummary" type="com.comeon.backend.meeting.query.dao.result.FindMeetingSliceResult">
        <result column="meeting_id" property="meetingId"/>
        <result column="host_user_user_id" property="hostUserId"/>
        <result column="host_user_nickname" property="hostUserNickname"/>
        <result column="host_user_profile_image" property="hostUserProfileImageUrl"/>
        <result column="member_count" property="memberCount"/>
        <result column="my_meeting_role" property="myMeetingRole"/>
        <result column="meeting_name" property="meetingName"/>
        <result column="calendar_start_from" property="calendarStartFrom"/>
        <result column="calendar_end_to" property="calendarEndTo"/>
        <result column="meeting_image_url" property="meetingImageUrl"/>
    </resultMap>

    <select id="findMeetingSlice" parameterType="com.comeon.backend.meeting.query.dao.param.FindMeetingSliceParam" resultMap="MeetingSummary">
        select m.meeting_id as meeting_id,
               host_member.user_id as host_user_user_id,
               host_member.user_nickname as host_user_nickname,
               host_member.user_profile_image as host_user_profile_image,
               (select count(*) from meeting_member where m.meeting_id = `meeting_id`) as member_count,
               mm.role as my_meeting_role,
               m.name as meeting_name,
               m.calendar_start_from as calendar_start_from,
               m.calendar_end_to as calendar_end_to,
               m.thumbnail_image_url as meeting_image_url
        from meeting_member mm
                 left join meeting m on m.meeting_id = mm.meeting_id
                 left join (select mm.meeting_id       as meeting_id,
                                   u.user_id           as user_id,
                                   u.nickname          as user_nickname,
                                   u.profile_image_url as user_profile_image,
                                   mm.role             as host_role
                            from meeting_member mm
                                     left join users u on mm.user_id = u.user_id
                            where mm.role = 'HOST') host_member on m.meeting_id = host_member.meeting_id
        <where>
            mm.user_id = #{userId}
            <if test="words != null and words.size > 0">
                and
                <foreach collection="words" item="word" separator="or" open="(" close=")">
                        lower(replace(m.name, ' ', '')) like concat('%', #{word}, '%')
                </foreach>
            </if>
        </where>
        limit #{pageSize} offset #{offset}
    </select>
</mapper>
